<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
</style>
*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    transition: 0.3s;
    background-color: rgb(226, 219, 219);
    font-family: 'Poppins', sans-serif;
    color: rgb(57, 57, 57);
    scroll-behavior: smooth;
}
h1{
  font-size: 70px;
  line-height: 70px;
  font-weight: 300;
  margin: 10px 0;
}
h2{
  font-size: 40px;
  line-height: 40px;
  font-weight: 300;
  margin: 50px 0 10px 0;
}
p{
  margin: 0;
  font-size: 20px;
}
a{
  color:rgb(162, 0, 255);
  font-size: 20px;
  text-decoration: none;
  font-weight: 100;
}
.dark .a{
  color: rgb(246,169,241);
}
header{
    display: flex;
    justify-content: flex-end;
    padding: 30px;
}

.switch {
  height: 40px;
  width: 80px;
  border-radius: 20px;
  background-color: rgb(39, 38, 38);
  position: relative;
}
.flicker {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #fff;
  transition: 0.3s;
  position: absolute;
  top: 5px;
  left: 4px;
  box-shadow: inset 4px 4px 4px rgb(255, 255, 255),
    inset -4px -4px 4px rgb(195 193 198 / 90%);
}
.dark {
  background-color: rgb(57, 57, 57);
  transition: 0.3s;
}
.dark > *{
    color:#fff
}
.moon {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 0 0 #fff;
  position: absolute;
  top: 5px;
  left: 45px;
}

.dark .flicker {
  transform: translateX(40px);
  background-color: black;
  box-shadow: inset 4px 4px 4px rgb(0, 0, 0);
  inset -4px -4px 4px rgb(10 10 10 / 0%);
}
.dark .switch {
  background-color: #fdfdfd;
 
}

.main{
    height: 80vh;
}
.main-text{
    padding: 30px;
}

.square{
    width: 98%;
    height: 350px;
    margin: 1%;
    background-color: rgb(255, 255, 255);
    text-align: center;
}
.dark .square{
    background-color: rgb(71, 71, 71);
}
.sub-section{
    display: flex;
    flex-wrap: wrap;
}
footer{
  display: flex;
  justify-content: center;
  padding: 100px 30px;
  background-color: rgb(169, 169, 169);
}
.dark footer{
  background-color: rgb(62, 62, 62);

}
#revenoo{
  background-image: url('./images/revenoo-app.png');
  background-size: cover;
}
#burgerrator{
  background-image: url('./images/burgerrator.png');
  background-size: cover;
}
#news{
  background-image: url('./images/news-app.png');
  background-size: cover;
}
#dates{
  background-image: url('./images/dates-app.png');
  background-size: cover;
}
@media (min-width:970px){
  .main-text{
    width: 50%;
  }
    .square{
        width:48%;
        margin:1%;
        height:600px;
    }
}